<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">一个 <span id="js-rotating">爱折腾,喜欢自驾游,动手能力强,经历丰富,技术还可以</span> 的 IT 从业者。</h4>
  </div>
  <div class="user-content">
    <p>
      康佳，车财网CTO，毕业于电子科技大学。2014 至今先后入职两家互联网金融公司，在任职期间累计了丰富的管理经验。对互联网金融行业相关技术有深入的研究，对安全攻防、加密体系、部署方案有独到的见解，在符合监管政策的前提下完成信息系统三级等保。现加入 MVP 成员，希望能与大家分享和交流更多的经验共同进步。
    </p>
    <p>邮箱：<a target="_blank" href="mailto:{{site.user_email}}">{{site.user_email}}</a></p>
    <p>Github：<a target="_blank" href="{{site.github_profile}}">{{site.github_profile}}</a></p>
    <p>阿里云 MVP ：<a target="_blank" href="https://mvp.aliyun.com/mvp/detail/175">https://mvp.aliyun.com/mvp/detail/175</a></p>
    <p>阿里云 · 云栖博客：<a target="_blank" href="https://yq.aliyun.com/u/stevenkang">https://yq.aliyun.com/u/stevenkang</a></p>
    <p>V2EX：<a target="_blank" href="https://www.v2ex.com/member/stevenkang">https://www.v2ex.com/member/stevenkang</a></p>
  </div>
</div>